# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace

# LocalTesting
local*.m




# Runned files
Python/Gymnasium_tests/imgs/*
Python/Gymnasium_tests/logs/*
Python/Gymnasium_tests/models/*
logs/snake/PPO/run_1_0/events.out.tfevents.1683159440.elite-fed.281955.0
Python/Test_env/logs/*
Python/Test_env/imgs/*
Python/Test_env/models/*
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so
Python/Random/*
